<div class="container">
  <h2>Editar Ideia (ID: {{id()}})</h2>

  <form [formGroup]="ideiaForm" (ngSubmit)="salvarAlteracoes()">

    <div class="card-title">
      <label for="titulo">Titulo da Ideia </label>
      <input type="text" id="titulo" formControlName="titulo">

      @if (ideiaForm.get('titulo')?.invalid && ideiaForm.get('titulo')?.touched) {
      <small class="erro">O titulo é obrigatorio e deve ter 5 caracteres</small>
      }
    </div>

    <div class="card-description">
      <label for="descricao">Descricao </label>
      <textarea id="descricao" rows="4" formControlName="descricao"></textarea>
    </div>

    <div class="card-status">
      <label for="status">Status</label>
      <select id="status" formControlName="status">
        <option value="pendente">Pendente</option>
        <option value="em_andamento">Em Andamento</option>
        <option value="concluido">Concluido</option>
      </select>
    </div>

    <button type="submit"> Salvar Alterações </button>

    <button type="button" class="excluir" (click)="excluirIdeia()">Excluir Ideia</button>

  </form>

</div>